
.navigator {
    position: fixed;
    bottom: @subtitle-navigator-bottom;
    margin: 0 @subtitle-navigator-side-margin 0 @subtitle-navigator-side-margin;
    width: @subtitle-navigator-width;
    z-index: @subtitle-navigator-z-index;
    height: @subtitle-navigator-height;

    .player-control {
        .btn;
        .btn-default;
        width: @subtitle-navigator-player-button-w;
        height: @subtitle-navigator-player-button-h;
        border-color: white;

        &.forward {
            i {
                color: @subtitle-navigator-player-button-color;
                .glyphicon;
                .glyphicon-forward;
                // .rotate-90;
            }

        }
        
        &.backward {
            i {
                color: @subtitle-navigator-player-button-color;
                .glyphicon;
                .glyphicon-backward;
                // .rotate-90;
            }

        }

        &.play {
            i {
                color: @subtitle-navigator-player-button-color;
                .glyphicon;
                .glyphicon-play;
            }

        }

        &.pause {
            i {
                color: @subtitle-navigator-player-button-color;
                .glyphicon;
                .glyphicon-pause !important;
            }

        }
    }
    
    .player-board {
        .center-block();
        width: 85%;
    }

    .panel-body {
        padding: 0px;
    }
}

.analyzer {
    position: fixed;
    bottom: @subtitle-analyzer-bottom;
    width: 80%;
    margin: 0 @subtitle-navigator-side-margin 0 @subtitle-navigator-side-margin;
    left: @subtitle-analyzer-left;
    width: @subtitle-analyzer-width;
    z-index: @subtitle-navigator-z-index;
    background-color: white;
    opacity: 0.9;

    .word-definition-holder {
        overflow: scroll;
        height: @subtitle-analyzer-height;
        width: @subtitle-analyzer-word-def-width;
    }

    .analyzer-words-list {
        width: @subtitle-analyzer-words-list-width;
        height: @subtitle-analyzer-height;
        float: left;
        overflow: scroll;
    }

    .word-item {
        padding: 2px;
        line-height: 45px;
        text-align: center;
    }
}


.sentence-list {
    margin-top: @sentence-list-margin-top;

    .current {
        font-size: @sentence-current-font-size;
        font-weight: bold;

        margin: 10px;

        .extra-info{
            .pull-right();
            font-size: @sentence-extra-info-font-size;
        }
    }

    .sentence {
        padding: 0 @sentence-side-margin 2px @sentence-side-margin;

        .clearfix();
    }

    .qualify-word {
        .label();
        .label-default();
        font-size: 100%;
        color: blue;
        background-color: white;
    }
}

.logo {
    margin-top: 50%;
}

.search {
    .twitter-typeahead {
        width: 100%;
    }

    .search-query-input {
        border: none;
        width: 80%;
        outline: none;
        padding-left: @subtitle-search-padding-left-search-result-item; //webkit ios 8 automatically adds 7px of padding for input field
    }

    .search-input-wrapper {
        border: 1px solid #cdcdcd;
        height: 35px;
        border-color: rgba(0,0,0,.15);
        padding-top: 4px;
    }

    .search-input-wrapper.stage-2 {
        width: 110%;
        margin-left: 0px;
        border: none;
        border-bottom: 1px solid #cdcdcd;
    }

    //twitter autocomplete custom style 
    .tt-dataset-movies {
        padding-top: 10px;
    }

    .tt-dropdown-menu {
        height: @twitter-dropdown-menu-height;
        overflow: scroll;
        margin-top: 10px; 
    }

    .clear-input-btn {
        .glyphicon;
        .glyphicon-remove;
        color: @subtitle-search-clear-search-input-btn-color;
    }

    .clear-input-btn-wrapper {
        display: none;
        position: absolute;
        margin-left: 80%;
        margin-top: -18px;
    }

    .stage-2 {
        .clear-input-btn-wrapper {
            display: block;
        }
    }

    .search-result-list {
        .search-result-item {
            // border-bottom: 1px solid #cdcdcd;
            padding: 10px 0px 0px @subtitle-search-padding-left-search-result-item;
            min-height: 45px;
        }
    }

    .history {
        margin-top: 30px;
        .history-item {
            padding: @history-item-padding;
            text-align: right;
            font-size: 11pt;
            float: left;
            margin: 5px;
            border-radius: 20px;
            border-width: 1px;
            border-color: #F2F2F2;
            border-style: solid;
        }
    }
}

#backdrop-analyzer-navigator {
    position: fixed;
    width: 100%;
    height: @subtitle-navigator-height + @subtitle-analyzer-height;
    bottom: 0px;
    background-color: @subtitle-nav-analyzer-backdrop-color;
    z-index: @subtitle-nav-analyzer-backdrop-z-index;
}

.nav-extra-btn {
    width: @subtitle-navigator-player-button-w;
    height: @subtitle-navigator-player-button-h;
    position: fixed;
    bottom: @subtitle-navigator-bottom;
    .btn;
    .btn-default;
    z-index: @subtitle-navigator-z-index;

    &.analyzer-col-ex-btn {
        left: @subtitle-navigator-player-button-w * 4 ;

        &.to-expand {
            i {
                color: @subtitle-navigator-player-button-color;
                .glyphicon;
                .glyphicon-resize-full;
                // .rotate-90;
            }
        }

        &.to-collapse {
            i {
                color: @subtitle-navigator-player-button-color;
                .glyphicon;
                .glyphicon-resize-small;
                // .rotate-90;
            }
        }


    }

    &.thexplainer-col-ex-btn {
        left: @subtitle-navigator-player-button-w * 5 + 10;
        i {
            color: @subtitle-navigator-player-button-color;
            .glyphicon;
            .glyphicon-fire;
            // .rotate-90;
        }
    }
}
