#js-analyzer-panel.panel.panel-default
    .panel.panel-heading
        h3.panel-title#js-current-word-title 
    .panel.panel-body.word-definition-holder
        ul.list-group#js-word-definition-holder
#js-analyzer-expand-collapse-btn


