#js-analyzer-panel.analyzer-body
    .analyzer-words-list#js-words-list-holder
    // .panel.panel-heading
    //     h3.panel-title#js-current-word-title 
    .word-definition-holder
        ul.list-group#js-word-definition-holder
button#js-analyzer-expand-collapse-btn.nav-extra-btn.analyzer-col-ex-btn.to-collapse 
    i


