#js-navigator-holder.navigator 
#js-analyzer-holder.analyzer
#js-sentence-list-holder.sentence-list
#backdrop-analyzer-navigator.hide
button#js-thexplainer-col-ex-btn.extra-btn.thexplainer-col-ex-btn
    i

