.panel-body 
    .input-group
        input.form-control#js-navigator-search-input(type="text")
        span.input-group-addon#js-search-direction(data-direction="forward") &gt;&gt; 
    span.player-control#js-backward backward
    span.player-control#js-play-pause play
    span.player-control#js-forward forward
