.template-navigator.col-xs-12.hide
    #js-nav-items
        .text-left.col-xs-3#js-left-nav-item
        .text-center.col-xs-6#js-center-nav-item
        .text-right.col-xs-3#js-right-nav-item
#main
