#js-template-navigator-top.template-navigator-top.col-xs-12.hide
    .back-btn Back
    .title.truncate#js-top-nav-title 
#js-template-navigator-bottom.template-navigator.col-xs-12.hide
    #js-nav-tab-items
        // .text-left.col-xs-3#js-left-nav-item
        // .text-center.col-xs-6#js-center-nav-item
        // .text-right.col-xs-3#js-right-nav-item
        // .text-center.js-nav-item
#main
    #js-temp-view-1.hide
    #js-temp-view-2.hide
    #js-temp-view-3.hide
    #js-temp-view-level-2.hide
