@subtitle-navigator-height: 100px;
@template-header-height: 20px;
@subtitle-navigator-top: @template-header-height + 10px;

@sentence-list-top: @subtitle-navigator-top + @subtitle-navigator-height + @template-header-height + 10px;
