// default template 
@template-header-height: 20px;

@subtitle-navigator-height: 100px;
@subtitle-navigator-top: @template-header-height + 10px;
@subtitle-navigator-side-margin: 5px; //left and right

@subtitle-analyzer-top: 400px; //@todo: adjust later
@subtitle-analyzer-height: 200px; //@todo: adjust later
@subtitle-analyzer-definition-height: 120px; //@todo: adjust later
@subtitle-analyzer-size-margin: @subtitle-navigator-side-margin;

@sentence-list-top: @subtitle-navigator-top + @subtitle-navigator-height + @template-header-height + 10px;
@sentence-side-margin: 5px;
@sentence-extra-info-font-size: 6pt;
@sentence-current-font-size: 12pt;

@subtitle-search-clear-search-input-btn-color: #555;
@subtitle-search-padding-left-search-result-item: 5px;


//System variable
@ios-status-bar-height: 20pt;
